@model TeachersViewModel


<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="table-responsive" margin-bottom: 100px>
            <h2>Управление темами</h2>
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Формулировка темы</th>
                        <th scope="col">Ссылка на материалы</th>
                        <th scope="col">Действия с темой</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var theme in Model.getTeacher.Themes)
                        {
                            <tr>
                                <td>@theme.ThemeFormulation</td>
                                @{
                                    Team team = theme.Teams.FirstOrDefault();
                                    if (team != null)
                                    {
                                        <td>@team.MaterialsLink</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                <td>

                                <button class="btn btn-warning m-2" onclick="openModal( { url: '/Teachers/SaveTheme', themeId: '@theme.Id' })" data-toggle="ajax-modal" data-target="Modal"> 
                                    Изменить 
                                </button>

                                <form asp-controller="Teachers" asp-action="DeleteTheme" method="post" asp-route-themeId="@theme.Id">
                                    <button class="btn btn-primary m-2">Удалить</button>
                                </form>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-success m-2" onclick="openModal( { url: '/Teachers/SaveTheme', themeId: '0' })" data-toggle="ajax-modal" data-target="Modal"> 
                                    Добавить 
                                </button>
                                <!--<form asp-controller="Teachers" asp-action="SaveTheme" method="get">
                                    <button class="">Добавить</button>
                                </form>-->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <h1></h1>
        
            <h2 class="pt-4">Управление командами</h2>
            <div class="m-n2"  aria-label=".form-select-sm example">

                <div class="row g-4 w-50">
                    <div class="col-sm6 w-50">
                        <label for="floatingSelect">Факультет:</label>
                        <select class="form-select" id="StudentFacultyFilter" aria-label="Floating label select example">
                        <option selected data-selectedValue="Нет">Нет</option>
                            @{
                                foreach (var faculty in Model.faculties)
                                {
                                        <option data-selectedValue="@faculty.FacultyName">
                                        @faculty.FacultyName
                                        </option>
                                }
                            }
                        </select>
                    </div>
                    
                    <div class="col-sm6 w-50">
                        <label for="floatingSelect">Курс:</label>
                        <select class="form-select" id="StudentCourseFilter" aria-label="Floating label select example">
                        <option selected data-selectedValue="Нет">Нет</option>
                            @{
                                foreach (var course in Model.courses)
                                {
                                        <option data-selectedValue="@course.Course1">
                                            @course.Course1
                                        </option>
                                }
                            }
                        </select>    
                    </div>
                    
                    
                </div>
                

                    <div class="table-responsive pt-4" id="StudentsTable">
                    <table class="table text-start align-middle table-bordered table-hover mb-0" >
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">Формулировка темы</th>
                                    <th scope="col">Состав бригады</th>
                                    <th scope="col">Действия с членами бригады</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var themes in Model.getTeacher.Themes)
                                    {
                                        List<Student> studentsList = new List<Student>();
                                        <tr data-category="ToChangeVisibilityTheme">
                                            <td>@themes.ThemeFormulation</td>
                                            @{
                                                Team team = themes.Teams.FirstOrDefault();
                                                if (team != null)
                                                {
                                                    int count = 1;
                                                    if (team.Students.Count == 0)
                                                    {
                                                        <td> <button class="btn btn-success rounded-pill m-2" onclick="openModal( { url: '/Teachers/ShowStudentInfo', studentId: '0', themeId: '@themes.Id' })" data-toggle="ajax-modal" data-target="Modal"> Добавить </button></td>
                                                        <td></td>
                                                        continue;
                                                    }
                                                    Student studentSave = null;
                                                    foreach (var student in team.Students)
                                                    {
                                                        if (count > 1)
                                                        {
                                                            studentsList.Add(student);
                                                            continue;
                                                        }
                                                        studentSave = student;
                                                        <td data-faculty="@student.Faculty.FacultyName" data-course="@student.Course.Course1"> 
                                                            <button class="btn btn-warning rounded-pill m-2" onclick="openModal( { url: '/Teachers/ShowStudentInfo', studentId: '@student.Id', themeId: '@themes.Id' })" data-toggle="ajax-modal" data-target="Modal"> 
                                                                @student.Initials 
                                                            </button> 
                                                        </td>
                                                        ++count;
                                                    }
                                                    <td>
                                                        <form asp-controller="Teachers" asp-action="DeleteStudent" method="post" asp-route-studentId="@studentSave.Id">
                                                            <button class="btn btn-sm btn-primary">Удалить</button>
                                                        </form>
                                                    </td>
                                                }   
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                }
                                            }
                                        </tr>
                                        foreach (var student in studentsList)
                                        {
                                            <tr>
                                                <td></td>
                                                <td data-faculty="@student.Faculty.FacultyName" data-course="@student.Course.Course1"><button class="btn btn-warning rounded-pill m-2" onclick="openModal( { url: '/Teachers/ShowStudentInfo', studentId: '@student.Id', themeId: '@themes.Id' })" data-toggle="ajax-modal" data-target="Modal"> @student.Initials </button></td>
                                                <td>
                                                    <form asp-controller="Teachers" asp-action="DeleteStudent" method="post" asp-route-studentId="@student.Id">
                                                        <button class="btn btn-sm btn-primary">Удалить</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td></td>
                                            <td><button class="btn btn-success rounded-pill m-2" onclick="openModal( { url: '/Teachers/ShowStudentInfo', studentId: '0', themeId: '@themes.Id' })" data-toggle="ajax-modal" data-target="Modal"> Добавить </button></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                </div>
            </div>
            
    </div>
</div>

<script src="~/js/ChangeVisibility.js"></script>